@import 'config';

@mixin mediaQueries($arg: '') {
  $complex:false;
  @if $arg == 'complex' {
    $complex:true;
  }
  @if $complex {
    @media all and (max-width:$breakpoint) {
      @for $i from 1 through $num-columns {
        @for $j from 1 through $num-columns {
          @if $i < $j or $i == 1 {
            .col-#{$i}-#{$j} {
              width: 100%;
            }
          }
        }
      }
    }
  }
  @else {
    @media all and (max-width:800px) {
      $base-col:100%/$num-columns;
      @for $i from 1 through $num-columns {
        .col-#{$i} {
          $col-width:$base-col * $i * 2;
          @if $col-width > 100 {
            width: 100%;
          }
          @else if ($num-columns/2 % $i) != 0 {
            width: 100%;
          } @else {
            width: $col-width;
          }
        }
      }
    }

    @media all and (max-width:650px) {
      $base-col:100%/$num-columns;
      @for $i from 1 through $num-columns {
        .col-#{$i} {
          $col-width:$base-col * $i * 4;
          @if $col-width > 100 {
            width: 100%;
          }
          @else if ($num-columns/4 % $i) != 0 {
            width: 100%;
          } @else {
            width: $col-width;
          }
        }
      }
    }
  }
}

@mixin minigrid($arg:'') {
  $complex:false;
  @if $arg == 'complex' {
    $complex:true;
  }

  .container {
    width: 100%;
    max-width: $container-width;
    * {
      box-sizing: border-box;
    }
  }

  @if $complex {
    @for $i from 1 through $num-columns {
      @for $j from 1 through $num-columns {
        @if $i < $j or $i == 1 {
          $base-col:100%/$j;
          .col-#{$i}-#{$j} {
            float: left;
            min-height:1px;
            width: $base-col * $i;
            padding-right:$gutter;
          }
          .col-#{$i}-#{$j}:last-child {
            padding:0;
          }
        }
      }
    }
  }
  @else {
    $base-col:100%/$num-columns;
    @for $i from 1 through $num-columns {
      .col-#{$i} {
        float: left;
        min-height:1px;
        width: $base-col * $i;
        padding:$gutter;
      }
    }
  }

  // Clearfix hack
  .row:before,
  .row:after {
    content:"";
    display: table;
    clear:both;
  }
}
