.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1024px; }
  .container * {
    box-sizing: border-box; }

.col-1-1 {
  float: left;
  min-height: 1px;
  width: 100%;
  padding: 15px; }

.col-1-2 {
  float: left;
  min-height: 1px;
  width: 50%;
  padding: 15px; }

.col-1-3 {
  float: left;
  min-height: 1px;
  width: 33.33333%;
  padding: 15px; }

.col-1-4 {
  float: left;
  min-height: 1px;
  width: 25%;
  padding: 15px; }

.col-1-5 {
  float: left;
  min-height: 1px;
  width: 20%;
  padding: 15px; }

.col-1-6 {
  float: left;
  min-height: 1px;
  width: 16.66667%;
  padding: 15px; }

.col-1-7 {
  float: left;
  min-height: 1px;
  width: 14.28571%;
  padding: 15px; }

.col-1-8 {
  float: left;
  min-height: 1px;
  width: 12.5%;
  padding: 15px; }

.col-1-9 {
  float: left;
  min-height: 1px;
  width: 11.11111%;
  padding: 15px; }

.col-1-10 {
  float: left;
  min-height: 1px;
  width: 10%;
  padding: 15px; }

.col-1-11 {
  float: left;
  min-height: 1px;
  width: 9.09091%;
  padding: 15px; }

.col-1-12 {
  float: left;
  min-height: 1px;
  width: 8.33333%;
  padding: 15px; }

.col-2-3 {
  float: left;
  min-height: 1px;
  width: 66.66667%;
  padding: 15px; }

.col-2-4 {
  float: left;
  min-height: 1px;
  width: 50%;
  padding: 15px; }

.col-2-5 {
  float: left;
  min-height: 1px;
  width: 40%;
  padding: 15px; }

.col-2-6 {
  float: left;
  min-height: 1px;
  width: 33.33333%;
  padding: 15px; }

.col-2-7 {
  float: left;
  min-height: 1px;
  width: 28.57143%;
  padding: 15px; }

.col-2-8 {
  float: left;
  min-height: 1px;
  width: 25%;
  padding: 15px; }

.col-2-9 {
  float: left;
  min-height: 1px;
  width: 22.22222%;
  padding: 15px; }

.col-2-10 {
  float: left;
  min-height: 1px;
  width: 20%;
  padding: 15px; }

.col-2-11 {
  float: left;
  min-height: 1px;
  width: 18.18182%;
  padding: 15px; }

.col-2-12 {
  float: left;
  min-height: 1px;
  width: 16.66667%;
  padding: 15px; }

.col-3-4 {
  float: left;
  min-height: 1px;
  width: 75%;
  padding: 15px; }

.col-3-5 {
  float: left;
  min-height: 1px;
  width: 60%;
  padding: 15px; }

.col-3-6 {
  float: left;
  min-height: 1px;
  width: 50%;
  padding: 15px; }

.col-3-7 {
  float: left;
  min-height: 1px;
  width: 42.85714%;
  padding: 15px; }

.col-3-8 {
  float: left;
  min-height: 1px;
  width: 37.5%;
  padding: 15px; }

.col-3-9 {
  float: left;
  min-height: 1px;
  width: 33.33333%;
  padding: 15px; }

.col-3-10 {
  float: left;
  min-height: 1px;
  width: 30%;
  padding: 15px; }

.col-3-11 {
  float: left;
  min-height: 1px;
  width: 27.27273%;
  padding: 15px; }

.col-3-12 {
  float: left;
  min-height: 1px;
  width: 25%;
  padding: 15px; }

.col-4-5 {
  float: left;
  min-height: 1px;
  width: 80%;
  padding: 15px; }

.col-4-6 {
  float: left;
  min-height: 1px;
  width: 66.66667%;
  padding: 15px; }

.col-4-7 {
  float: left;
  min-height: 1px;
  width: 57.14286%;
  padding: 15px; }

.col-4-8 {
  float: left;
  min-height: 1px;
  width: 50%;
  padding: 15px; }

.col-4-9 {
  float: left;
  min-height: 1px;
  width: 44.44444%;
  padding: 15px; }

.col-4-10 {
  float: left;
  min-height: 1px;
  width: 40%;
  padding: 15px; }

.col-4-11 {
  float: left;
  min-height: 1px;
  width: 36.36364%;
  padding: 15px; }

.col-4-12 {
  float: left;
  min-height: 1px;
  width: 33.33333%;
  padding: 15px; }

.col-5-6 {
  float: left;
  min-height: 1px;
  width: 83.33333%;
  padding: 15px; }

.col-5-7 {
  float: left;
  min-height: 1px;
  width: 71.42857%;
  padding: 15px; }

.col-5-8 {
  float: left;
  min-height: 1px;
  width: 62.5%;
  padding: 15px; }

.col-5-9 {
  float: left;
  min-height: 1px;
  width: 55.55556%;
  padding: 15px; }

.col-5-10 {
  float: left;
  min-height: 1px;
  width: 50%;
  padding: 15px; }

.col-5-11 {
  float: left;
  min-height: 1px;
  width: 45.45455%;
  padding: 15px; }

.col-5-12 {
  float: left;
  min-height: 1px;
  width: 41.66667%;
  padding: 15px; }

.col-6-7 {
  float: left;
  min-height: 1px;
  width: 85.71429%;
  padding: 15px; }

.col-6-8 {
  float: left;
  min-height: 1px;
  width: 75%;
  padding: 15px; }

.col-6-9 {
  float: left;
  min-height: 1px;
  width: 66.66667%;
  padding: 15px; }

.col-6-10 {
  float: left;
  min-height: 1px;
  width: 60%;
  padding: 15px; }

.col-6-11 {
  float: left;
  min-height: 1px;
  width: 54.54545%;
  padding: 15px; }

.col-6-12 {
  float: left;
  min-height: 1px;
  width: 50%;
  padding: 15px; }

.col-7-8 {
  float: left;
  min-height: 1px;
  width: 87.5%;
  padding: 15px; }

.col-7-9 {
  float: left;
  min-height: 1px;
  width: 77.77778%;
  padding: 15px; }

.col-7-10 {
  float: left;
  min-height: 1px;
  width: 70%;
  padding: 15px; }

.col-7-11 {
  float: left;
  min-height: 1px;
  width: 63.63636%;
  padding: 15px; }

.col-7-12 {
  float: left;
  min-height: 1px;
  width: 58.33333%;
  padding: 15px; }

.col-8-9 {
  float: left;
  min-height: 1px;
  width: 88.88889%;
  padding: 15px; }

.col-8-10 {
  float: left;
  min-height: 1px;
  width: 80%;
  padding: 15px; }

.col-8-11 {
  float: left;
  min-height: 1px;
  width: 72.72727%;
  padding: 15px; }

.col-8-12 {
  float: left;
  min-height: 1px;
  width: 66.66667%;
  padding: 15px; }

.col-9-10 {
  float: left;
  min-height: 1px;
  width: 90%;
  padding: 15px; }

.col-9-11 {
  float: left;
  min-height: 1px;
  width: 81.81818%;
  padding: 15px; }

.col-9-12 {
  float: left;
  min-height: 1px;
  width: 75%;
  padding: 15px; }

.col-10-11 {
  float: left;
  min-height: 1px;
  width: 90.90909%;
  padding: 15px; }

.col-10-12 {
  float: left;
  min-height: 1px;
  width: 83.33333%;
  padding: 15px; }

.col-11-12 {
  float: left;
  min-height: 1px;
  width: 91.66667%;
  padding: 15px; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

@media all and (max-width: 800px) {
  .col-1-1 {
    width: 100%; }

  .col-1-2 {
    width: 100%; }

  .col-1-3 {
    width: 100%; }

  .col-1-4 {
    width: 100%; }

  .col-1-5 {
    width: 100%; }

  .col-1-6 {
    width: 100%; }

  .col-1-7 {
    width: 100%; }

  .col-1-8 {
    width: 100%; }

  .col-1-9 {
    width: 100%; }

  .col-1-10 {
    width: 100%; }

  .col-1-11 {
    width: 100%; }

  .col-1-12 {
    width: 100%; }

  .col-2-3 {
    width: 100%; }

  .col-2-4 {
    width: 100%; }

  .col-2-5 {
    width: 100%; }

  .col-2-6 {
    width: 100%; }

  .col-2-7 {
    width: 100%; }

  .col-2-8 {
    width: 100%; }

  .col-2-9 {
    width: 100%; }

  .col-2-10 {
    width: 100%; }

  .col-2-11 {
    width: 100%; }

  .col-2-12 {
    width: 100%; }

  .col-3-4 {
    width: 100%; }

  .col-3-5 {
    width: 100%; }

  .col-3-6 {
    width: 100%; }

  .col-3-7 {
    width: 100%; }

  .col-3-8 {
    width: 100%; }

  .col-3-9 {
    width: 100%; }

  .col-3-10 {
    width: 100%; }

  .col-3-11 {
    width: 100%; }

  .col-3-12 {
    width: 100%; }

  .col-4-5 {
    width: 100%; }

  .col-4-6 {
    width: 100%; }

  .col-4-7 {
    width: 100%; }

  .col-4-8 {
    width: 100%; }

  .col-4-9 {
    width: 100%; }

  .col-4-10 {
    width: 100%; }

  .col-4-11 {
    width: 100%; }

  .col-4-12 {
    width: 100%; }

  .col-5-6 {
    width: 100%; }

  .col-5-7 {
    width: 100%; }

  .col-5-8 {
    width: 100%; }

  .col-5-9 {
    width: 100%; }

  .col-5-10 {
    width: 100%; }

  .col-5-11 {
    width: 100%; }

  .col-5-12 {
    width: 100%; }

  .col-6-7 {
    width: 100%; }

  .col-6-8 {
    width: 100%; }

  .col-6-9 {
    width: 100%; }

  .col-6-10 {
    width: 100%; }

  .col-6-11 {
    width: 100%; }

  .col-6-12 {
    width: 100%; }

  .col-7-8 {
    width: 100%; }

  .col-7-9 {
    width: 100%; }

  .col-7-10 {
    width: 100%; }

  .col-7-11 {
    width: 100%; }

  .col-7-12 {
    width: 100%; }

  .col-8-9 {
    width: 100%; }

  .col-8-10 {
    width: 100%; }

  .col-8-11 {
    width: 100%; }

  .col-8-12 {
    width: 100%; }

  .col-9-10 {
    width: 100%; }

  .col-9-11 {
    width: 100%; }

  .col-9-12 {
    width: 100%; }

  .col-10-11 {
    width: 100%; }

  .col-10-12 {
    width: 100%; }

  .col-11-12 {
    width: 100%; } }
.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1024px; }
  .container * {
    box-sizing: border-box; }

.col-1 {
  float: left;
  min-height: 1px;
  width: 8.33333%;
  padding: 15px; }

.col-2 {
  float: left;
  min-height: 1px;
  width: 16.66667%;
  padding: 15px; }

.col-3 {
  float: left;
  min-height: 1px;
  width: 25%;
  padding: 15px; }

.col-4 {
  float: left;
  min-height: 1px;
  width: 33.33333%;
  padding: 15px; }

.col-5 {
  float: left;
  min-height: 1px;
  width: 41.66667%;
  padding: 15px; }

.col-6 {
  float: left;
  min-height: 1px;
  width: 50%;
  padding: 15px; }

.col-7 {
  float: left;
  min-height: 1px;
  width: 58.33333%;
  padding: 15px; }

.col-8 {
  float: left;
  min-height: 1px;
  width: 66.66667%;
  padding: 15px; }

.col-9 {
  float: left;
  min-height: 1px;
  width: 75%;
  padding: 15px; }

.col-10 {
  float: left;
  min-height: 1px;
  width: 83.33333%;
  padding: 15px; }

.col-11 {
  float: left;
  min-height: 1px;
  width: 91.66667%;
  padding: 15px; }

.col-12 {
  float: left;
  min-height: 1px;
  width: 100%;
  padding: 15px; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

@media all and (max-width: 800px) {
  .col-1 {
    width: 16.66667%; }

  .col-2 {
    width: 33.33333%; }

  .col-3 {
    width: 50%; }

  .col-4 {
    width: 100%; }

  .col-5 {
    width: 100%; }

  .col-6 {
    width: 100%; }

  .col-7 {
    width: 100%; }

  .col-8 {
    width: 100%; }

  .col-9 {
    width: 100%; }

  .col-10 {
    width: 100%; }

  .col-11 {
    width: 100%; }

  .col-12 {
    width: 100%; } }
@media all and (max-width: 650px) {
  .col-1 {
    width: 33.33333%; }

  .col-2 {
    width: 100%; }

  .col-3 {
    width: 100%; }

  .col-4 {
    width: 100%; }

  .col-5 {
    width: 100%; }

  .col-6 {
    width: 100%; }

  .col-7 {
    width: 100%; }

  .col-8 {
    width: 100%; }

  .col-9 {
    width: 100%; }

  .col-10 {
    width: 100%; }

  .col-11 {
    width: 100%; }

  .col-12 {
    width: 100%; } }
html {
  font-size: 1rem; }

body {
  line-height: 1.5rem;
  font-family: "Helvetica Neue", "Arial", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 1.5rem; }

small {
  font-size: 0.75019rem; }

p {
  margin-top: 0;
  margin-bottom: 1.5rem; }

pre {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 2rem; }

blockquote {
  margin-top: 0;
  margin-bottom: 1.5rem; }

form {
  margin-bottom: 1.5rem; }

h1 {
  font-size: 3.15733rem;
  line-height: 1.42525; }

h2 {
  font-size: 2.36859rem;
  line-height: 1.26657; }

h3 {
  font-size: 1.77689rem;
  line-height: 1.68834; }

h4 {
  font-size: 1.333rem;
  line-height: 1.12528; }

h5 {
  font-size: 1rem;
  line-height: 1.5rem; }

h6 {
  font-size: 0.75019rem;
  line-height: 1.9995; }

@media (max-width: 600px) {
  html {
    font-size: 0.9rem; } }
@media (max-width: 400px) {
  html {
    font-size: 0.8rem; } }
/* iPhone 2G-4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html {
    font-size: 2rem; } }
/* iPhone 5/5S */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  html {
    font-size: 2rem; } }
/* iPhone 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  html {
    font-size: 2rem; } }
/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  html {
    font-size: 2rem; } }
[class*='col-'] {
  background-color: #f4f4f4; }

[class*='col-'] > p {
  background-color: #eee;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  color: #bbb; }

body {
  margin: 40px 0;
  background-color: #fbfbfb; }

h2 {
  color: #555; }

.centered {
  margin-left: auto;
  margin-right: auto; }

/*# sourceMappingURL=style.css.map */
